
.browseViewPage {
    flex: 0.7;
}

.browseView {
    display: flex;
    /* margin: 10px;
    padding: 10px; */
}

/* .browseViewFeed {
    overflow-y: scroll;
} */

.WatchingViewLnk {
    margin-top: 60px;
}
