
.browseViewPage {
    flex: 0.7;
}

.browseView {
    display: flex;
}

.WatchingViewLnk {
    margin-top: 60px;
}
/* 
.filterSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 5% 2% 25%;
} */

.btmLn {
    border-bottom: 3px solid #f9f9f9;
    margin-bottom: 0;
    padding-bottom: 0;
}