
.loggedinView {
  margin-top: 60px;
}

.loggedinViewComponentsSection {
    display: flex;
  }

  .uploadSection {
    margin-left: 120px;
  }

  .signOut {
    float: right;
    margin-right: 10px;
  }