.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    height: 60px;
    margin: 1px;
}

.sidebarRow__icon {
    color: #606060;
    font-size: large !important;
}

.sidebarRow__title {
    flex: 1;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
}

.sidebarRow:hover {
    background-color: #e1e1e1;
    cursor: pointer;
    border-right: 2px dashed #a2a2a2;
}

.sidebarRow.selected {
    background-color: #e1e1e1;
}

.sidebarRow:hover > .sidebarRow__icon {
    color: red;
}

.sidebarRow:hover > .sidebarRow__title {
    font-weight: bold;
    /* transform: scale(1.2);
    transition: ease-in-out 0.3s; */
}