.footer {
  background-color: #6660c259;
  margin-bottom: -16px;
  margin-top: 100px;
}

.icons {
  text-decoration: none !important;

  margin: 3.5%;
  color: black;
}

.icons:hover {
  color: #e14a9a;
}
