.header {
    margin-bottom: 80px;
}

.LgImg {
    width: 150px;
    padding: 0;
    margin: 0;
}

.menuItem {
    display: flex;
    width: fit-content;
    padding-inline: 10px;
    font-size: larger;
    border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.navItems {
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.navItems:hover {
    color: #1302e6;
}

.logo:hover {
    text-decoration: none;
}

.navIcn {
    margin-right: 5px;
}

.navIcn:hover {
    color: #db1377;
}

.menuItem:hover {
    background-color: #f1f2f3;
    border-radius: 10px;
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
    text-decoration: none;
}

.navb {
    border-radius: 8px;
}
.menuItem li {
    list-style: none;
    margin-right: 30px;
    padding: 10px;
    font-size: large;
    width: fit-content;

}

.menuItem li:hover {
    background-color: #ece6e6af;
    border-radius: 20px;
}

.underline {
    text-decoration: none;
}

.loginpage {
    float: right;
    margin-right: 80px;
}

.logbtn {
    text-decoration: none;
}

.modalBtn {
    float: right;
}

.sigbtn {
    display: flex;
}