
.menuItem {
    display: flex;
    width: fit-content;
    padding-inline: 10px;
    font-size: larger;
    border-radius: 5px;
}

.NavItems {
    display: flex;
    align-items: center;
}

.logo:hover {
    text-decoration: none;
}

.navIcn {
    margin-right: 5px;
}

.navIcn:hover {
    color: red;
}

.menuItem:hover {
    background-color: #f1f2f3;
    border-radius: 10px;
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
    text-decoration: none;
}

.navb {
    border-radius: 8px;
}
.menuItem li {
    list-style: none;
    margin-right: 30px;
    padding: 10px;
    font-size: large;
    width: fit-content;

}

.menuItem li:hover {
    background-color: #ece6e6af;
    border-radius: 20px;
}

.underline {
    text-decoration: none;
}

.loginpage {
    float: right;
    margin-right: 80px;
}

.logbtn {
    text-decoration: none;
}

.modalBtn {
    float: right;
}

.sigbtn {
    display: flex;
}