.dashlink{
     float: left;
     padding-left: 30px;
}

.logpg h3 {
    margin-right: 180px;
}

@media all and (min-width: 480px) {
    .login {
        padding: 60px 0;
    }

    .login form {
        margin: 0 auto;
        max-width: 320px;
        background-color: #fff;
        padding: 20px;
        border-radius: 30px;
    }
}

.login {
    background-color: #e4e4e4;
}